@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
$title:'Shadows Into Light', cursive;
$text1:'Droid Sans', sans-serif;
$color1: #607D8B;
$color2: #ECEFF1;
$color3: #B0BEC5;
$color4: #37474F;
$color5: #263238;
$color6: #F4511E;
$color7: darken($color3, 30%);
$color8: #78909C;
$color9:#546E7A;
